@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    scrollbar-gutter: stable;
    scrollbar-gutter: stable both-edges;
    background-image: url(./assets/img/max_shirko_None_5b7cf717-2022-48f6-82bc-5880c3e4f328.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom: -1px;
    margin-top: -1px;
}

.carousel-img {
    transition: opacity 1s;
}

.overlay-carousel{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
}